@import "~bootstrap/scss/bootstrap";
@import './_colors';
@import './_variables';

body {
  background-color: teal;

  .regular-text {
    font-size: $regular-text;
  }

  .large-text {
    font-size: $large-text;
  }

  .fire-color-class {
    background-color: $fire-background;
    color: $fire-font;
  }
  
  .ice-color-class {
    background-color: $ice-background;
    color: $ice-font;
  }
  
  .stone-color-class {
    background-color: $stone-background;
    color: $stone-font;
  }
  
  .original-color-class {
    background-color: $original-background;
    color: $original-font;
  }
  
}

#chatNav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  background-image: url("../../images/theWall.jpg");
  background-position: center;
  background-size: cover;
  position: static;
  top: 0;
  width: 100%;
  #commentForm {
    display: flex;
    margin: 15px;
    color: white;
    .form-group {
      margin: 20px;
    }
    #userComment {
      width: 350px;
    }
  }
  .navbar-brand {
    color: white;
  }
}

#menuBar {
  display: flex;
  width: 100%;
  // margin-top: 310px;
  background-color: lightgrey;
  padding: 15px;
  justify-content: space-around;
}

#commentForm {
  display: flex;
  flex-direction: row;
}

.profilePhoto {
  height: 10em;
  width: 10em;
  padding: 0em;
  margin: -.4em;
  border: .2em outset gray;
}

.comment {
  margin: 2em;
  border: .2em solid black;
  padding: .4em;
}

#commentForm {
  display: flex;
  flex-direction: row;
}

#newCommentEntry {
  display: none;
}
#updateCommentBtn {
  display: none;
}